# Ignore node_modules directory
node_modules/

# Ignore npm debug log
npm-debug.log*

# Ignore yarn lockfile
yarn.lock

# Ignore pnpm store
.pnpm/

# Ignore Rush artifacts
.rush/

# Ignore lerna debug logs
lerna-debug.log

# Ignore NPM dependency files
package-lock.json
shrinkwrap.yaml
